<!-- your html code here -->
<div class="row bg-light d-flex justify-content-center">
    <div class="col-5">
        <h2>This first Heading <span class="text-secundary">Will Catch Your Eye</span></h2>
        <p class="me-6">Donec ullamcorper nulla metus no auctor fringilla. Vestibulum id ligula porta felis Unión semper.
            Praesent commodo magna de cursus, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-1"></div>
    <div class="col-3"><img class="rounded-circle" src="https://cutt.ly/sZdjGBh"> </div>
</div>