<!-- your html code here -->

<div class="row bg-light justify-content-center">
    <div class="  col-2">
        <img class="h-100 img-fluid rounded-circle" src="https://ep00.epimg.net/verne/imagenes/2015/08/31/articulo/1441020951_172769_1441022683_noticia_normal.jpg">
        
    </div>
    <div class="  col-6">
        <h2><strong>The Second Heading</strong><span class="text-muted"> Is Pretty Cool Too</span></h2>
        <p>Donect ullamorper nulla non metus auctor fringilla. Vestibulu, id ligula porta felis auismod semper. Parameent commado cursus magna, vel scelerisque risl consecleetur. 
            Fusce dapibus, telus ac cursus commodo.
        </p>
        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXnAwZjpJdjn_q4KPvXbQhPi6hc724iThiAw&usqp=CAU" target="_blank">La triste verdad</a><br>
        <a href="https://i.chzbgr.com/full/9018960128/h8C0AD599/programador" target="_blank">Nuestra vida en una imagen</a>
    </div>
</div>